<h1 align="center">文章總覽</h1>


<% @articles.each do |article| %>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="well well-lg">
				<div class="article-title">
					<%= link_to article.title, article_path(article) %>
				</div>

				<div class="article-body">
					<%= truncate(article.description) %>
				</div>
				<div class="article-actions">
					<%= link_to "編輯此篇文章", edit_article_path(article), class: "btn btn-xs btn-primary" %>
					<%= link_to "刪除此篇文章", article_path(article), method: :delete, 
									  data: {confirm: "確定要刪除？"} , 
									  class: "btn btn-xs btn-danger" %>
				</div>
			</div>
		</div>
	</div>
<% end %>
